@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply m-0 bg-white text-[16px] leading-snug text-black font-body;
}

h1,
h2,
h3 {
  @apply font-display;
}

.grid-overlay {
  background-image:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.06) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 1px
    );
  background-size:
    calc(100% / 12) 100%,
    100% 24px;
}
